<div class="card-body">
    <div *ngIf="islload">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" >
              <span class="sr-only" id="loading"></span>
            </div>
          </div>
        </div>
   
    
    
        <form [formGroup]="myform"  #reg="ngForm" (ngSubmit)="UpdateAppointment(reg.value)" autocomplete="off">
        
    
    <div class="form-row">
        <div class="col-md-1 mb-2">
           <select class="form-control" (change)="setGenderByprefix($event)"  ngbTooltip="Prefix" isSearchable="true" id="exampleFormControlSelect1"  formControlName="Prefix"   name="Prefix" id="ddlprefix">
                <option [selected]="true" hidden  >Prefix*</option>
                <option value="Mr" >Mr</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
                <option value="Mrs">Mrs</option>
                </select>
                <!-- <small *ngIf="myform.get('Prefix').pristine&& myform.get('Prefix').touched" class="text-danger">
                    Prefix is requied
                                 </small> -->
            </div>
    
    <div class="col-md-4 mb-3">
    
        <input type="text" class="form-control text-capitalize" id="txtName"   ngbTooltip="First Name"  formControlName="FirstName" class="form-control" onpaste="return false" (keydown)="AcceptCharactersOnly($event)"  placeholder="First Name*"  name="FirstName">
        <small *ngIf="myform.get('FirstName').touched&&myform.get('FirstName').hasError('required')" class="text-danger">
            First Name is required
           </small> 
    </div>
   
    <div class="col-md-4 mb-4">
    
        <input type="text" onpaste="return false" class="form-control text-capitalize" ngbTooltip="Last Name" formControlName="LastName"  id="txtName" placeholder="Last Name" (keydown)="AcceptCharactersOnly($event)"  name="Last Name">
    
    </div>
    
    
    <div  class="col-md-3 mb-3" >
        <div class="input-group">
         <input formControlName="DateOfBirth" class="form-control" #dt  (dateSelect)="onDateSelectDob($event)" 
                class="form-control"
                placeholder="Date Of Birth*" readonly="true"
                ngbDatepicker ngbTooltip="Date of Birth"
                            #d="ngbDatepicker"
                            ngbTooltip="Date Of Birth"
                              name="dob"
                             [maxDate]="maxDate"
                              id="dob"
                              pattern="dd-MM-yyyy"
                              [value]="DobModel"
                              [minDate]="dobminDate"
    
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"type="button"></button>
        </div>
        <!-- <small *ngIf="myform.get('DateOfBirth').touched&&myform.get('DateOfBirth').hasError('required')" class="text-danger">
            Date of birth is required
           </small> -->
    
        </div>
    
        <div class="col-md-1 mb-1" >
    
            <input type="text"formControlName="Age" ngbTooltip="Age"  readonly="true"  class="form-control text-capitalize" id="txtAge" placeholder="Age*"  name="Age">
            <!-- <small *ngIf="myform.get('Age').touched&&myform.get('Age').hasError('required')" class="text-danger">
                Age is required
               </small> -->
    </div>
    <div class="col-md-2 mb-2">
        <select class="form-control" id="AgeModId" formControlName="AgeModId" ngbTooltip="Age Mode"   name="AgeModId" >
            <option [selected]="true"  hidden  >Age Mode*</option>
            <option value="1">Days</option>
            <option value="2">Months</option>
            <option value="3">Years</option>
    
        </select>
        <!-- <small *ngIf="myform.get('AgeModId').pristine&& myform.get('AgeModId').touched" class="text-danger">
            Religion is requied
                         </small> -->
    </div>
    
      <div class="col-md-3 mb-4">
        <div>
            <select class="form-control" id="ddlSex" name="Sex" ngbTooltip="Gender"  formControlName="Gender">
                <option [selected]="true" hidden  >Gender*</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
            </select>
            <!-- <small *ngIf="myform.get('Gender').pristine&& myform.get('Gender').touched" class="text-danger">
                Religion is requied
                             </small> -->
        </div>
        </div>
    <div class="col-md-3 mb-3">
    <input type="text"  class="form-control" onpaste="return false"  ngbTooltip="Aadhaar Number" maxlength="12" formControlName="AadhaarNumber" (keydown)="AcceptAddharNoOnly($event)" id="Aadhaar" placeholder="Aadhaar*" name="Aadhaar">
    <!-- <span   class="fa fa-check errspan"></span>
    <span  class="fa fa-exclamation-circle errspan2"></span>
    
    <small style="color: red;" >Aadhaar is already Existed</small>   -->
    <small *ngIf="myform.get('AadhaarNumber').touched&&myform.get('AadhaarNumber').hasError('required')" class="text-danger">
        Aadhaar Number is required
       </small>
       <small *ngIf="myform.get('AadhaarNumber').dirty&&myform.get('AadhaarNumber').hasError('minlength')" class="text-danger">
        Aadhaar Number must be 12 digits  
                         </small>
    </div>
    
    <div class="col-md-3 mb-3">
    <input type="text" class="form-control"  onpaste="return false" ngbTooltip="Mobile Number" (keydown)="AcceptMobilenumberOnly($event)" formControlName="MobileNumber" maxlength="10" placeholder="Mobile*" name="MobileNumber" id="MobileNumber"/>
    <small *ngIf="myform.get('MobileNumber').touched&&myform.get('MobileNumber').hasError('required')" class="text-danger">
        Mobile Number is required
       </small>
       <small *ngIf="myform.get('MobileNumber').dirty&&myform.get('MobileNumber').hasError('minlength')" class="text-danger">
        Mobile No. must be 10 digits  
                         </small>
    </div>
    <div class="col-md-3 mb-3">
        <select class="form-control" id="ddlReligion" ngbTooltip="Rlegion" formControlName="RelegionId"   name="ReligionId">
            <option [selected]="true"  hidden  >Religion*</option>
            <option  *ngFor="let d of Relig"  value={{d.religionID}}>{{d.religionName}}</option>
    
        </select>
        <!-- <small *ngIf="myform.get('RelegionId').pristine&& myform.get('RelegionId').touched" class="text-danger">
            Religion is requied
                         </small> -->
    </div>
    
    
    <div class="col-md-3 mb-3">
        <select class="form-control" id="ddlnationality" ngbTooltip="Nationality" formControlName="NationalityId"  name="NationalityId" >
            <option [selected]="true"  hidden  >Nationality*</option>
        <option  *ngFor="let d of nat"  value={{d.nationalitY_ID}}>{{d.nationalitY_NAME}}</option>
        </select>
        <!-- <small *ngIf="myform.get('NationalityId').pristine&& myform.get('NationalityId').touched" class="text-danger">
            Nationality is requied
                         </small> -->
    </div>
    
    
    
    
     <div class="col-md-3 mb-3">
        <input type="text" class="form-control"  ngbTooltip="House Number"  formControlName="HouseNo" id="Hno" name="HouseNo" placeholder="House Number*">
        <small *ngIf="myform.get('HouseNo').touched&&myform.get('HouseNo').hasError('required')" class="text-danger">
            House Number is required
           </small>
    </div>
     <div class="col-md-3 mb-3">
    
        <select class="form-control" id="State" formControlName="StateId" ngbTooltip="State"  #state name="State" (change)="getDistricts(state.value)">
             <option [selected]="true"  hidden  value="0">State*</option>
         <option  *ngFor="let x of states" value={{x.id}}>{{x.name}}</option>
    
    
        </select>
        <!-- <small *ngIf="myform.get('StateId').pristine&& myform.get('StateId').touched" class="text-danger">
            State is requied
                         </small> -->
    </div>
    
    
    <div class="col-md-3 mb-3">
        <select class="form-control" formControlName="DistrictId" ngbTooltip="District"  id="District" name="District" >
            <option [selected]="true"  hidden  >District*</option>
            <option *ngFor="let x of district" value={{x.id}} >{{x.name}}</option>
    
        </select>
        <!-- <small *ngIf="myform.get('DistrictId').pristine&& myform.get('DistrictId').touched" class="text-danger">
            District is requied
                         </small> -->
    </div>
    <div class="col-md-3 mb-3">
        <input type="text" class="form-control" onpaste="return false" ngbTooltip="City" (keydown)="AcceptCharactersOnly($event)" formControlName="City"  name="City" placeholder="City">
    </div>
    <div class="col-md-3 mb-3">
        <input type="text" class="form-control"  onpaste="return false"  ngbTooltip="Village" (keydown)="AcceptCharactersOnly($event)" formControlName="Village" name="Village" placeholder="Village">
    </div>
    <div class="col-md-3 mb-3">
        <input type="text" class="form-control" formControlName="PinCode" maxlength="6" id="Pincode"  name="Pincode" placeholder="Pincode*" (keydown)="AcceptPincodeOnly($event)">
         <small *ngIf="myform.get('PinCode').touched&&myform.get('PinCode').hasError('required')" class="text-danger">
            Pincode is required
           </small>
           <small *ngIf="myform.get('PinCode').dirty&&myform.get('PinCode').hasError('minlength')" class="text-danger">
            Pincode must be 6 digits  
                             </small>
    </div>
    
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-4" >
            <div class="input-group">
                <input formControlName="AppointmentDate" class="form-control" readonly="true"
                       class="form-control"
                       placeholder="Appointment Date*"
                       ngbDatepicker
                                   #p="ngbDatepicker"
                      (dateSelect)="onDateSelectAppdate($event)"
                                     name="AppointmentDate"
                                     ngbTooltip="Appointment Date"
                                    [minDate]="minDate"
                                     id="AppointmentDate"
                                     [value]="AppdateModel"
           
                   />
                   <button class="btn btn-outline-secondary bi bi-calendar3" (click)="p.toggle()"type="button"></button>
               </div>
        </div>
        <!-- <div class="col-md-2 mb-2" >
    
            <label>
             Start Time
            </label>
           
             <small *ngIf="myform.get('StartTime').touched&&myform.get('StartTime').hasError('required')" class="text-danger">
                Start Time is required
               </small> 
          </div>
          <div class="col-md-2 mb-2" >
            <input type="time" class="form-control"  ngbTooltip="Start Time" #obj S formControlName="StartTime" id="stime">
            </div>
         <div class="col-md-2 mb-2" >
    
             <label>
              End Time
             </label>
            
              <small *ngIf="myform.get('EndTime').touched&&myform.get('EndTime').hasError('required')" class="text-danger">
                End Time is required
               </small> 
           </div>
           <div class="col-md-2 mb-2" >
            <input type="time"  ngbTooltip="End Time" formControlName="EndTime" class="form-control"  id="etime">
           </div> -->
           <div class="col-md-4 mb-6">
  
           
             
                <div class="input-group"  #StartTime>
                <input type="text"  onpaste="return false"  class="form-control" ngbTooltip="Start Time"  id="StartTime"    formControlName="StartTime"
                 name="StartTime" id="StartTime" [value]="starttime" (keydown)="EndTimeKeyEvent($event)"
                  placeholder="start time*" >
                  <button type="button" class="btn btn-outline-secondary" style="width:30px; "></button>
    
                  <i class="fa fa-clock-o fa-lg TimeSpan " aria-hidden="false"></i>
                  
                
                </div>
                <span >
                <small *ngIf="myform.get('StartTime').touched&&myform.get('StartTime').hasError('required')" class="text-danger">
                    Start Time is required
                   </small> 
                </span>
              
              
            
            
                                                 <!--table-->
                                                 <div *ngIf="showModal2">
                                                  <div class="tableshow2">
                                                      <table  class="table table-hover"  id="patients2" >
                                                          
                                              <tbody class="tablebody2" >
                                                <tr id="rd" *ngFor="let item of timeintarval;let k = index" (click)="ChangeTimeSlot(k, item)">
            
                                                 
                                                  <td style="font-weight: bold" ><label style="font-size: 10px;">{{item}}</label></td>
                                                 
                                                </tr>
                                              </tbody>
                                            </table>
                                                  </div>
            
                                              
                                              </div>
            
                                             
                                              
                                              
    
    </div>
        <div class="col-md-4 mb-4" >
          
            <div class="input-group">
        <input type="text"  onpaste="return false" class="form-control non-selectable" id="EndTime"  ngbTooltip="End Time Can't be Editable" [value]="endtime" formControlName="EndTime"  placeholder="End time*"  (keydown)="EndTimeKeyEvent($event)">
        <!-- <button class="btn btn-outline-secondary" type="button" style="width: 30px;"></button>
    
        <i class="fa fa-clock-o fa-lg TimeSpan" aria-hidden="false"></i>
         -->
      
    </div>
        <small *ngIf="myform.get('EndTime').touched&&myform.get('EndTime').hasError('required')" class="text-danger">
            End Time is required
           </small>  
    </div>
    
    </div>
    <div class="form-row">
    
    <div class="col-md-4 mb-4">
    <select class="form-control" id="ddlScheduleType" formControlName="ScheduleTypeId"  ngbTooltip="Schedule Type"  name="ScheduleTypeId" >
        <option [selected]="true"  hidden  value="0"  >ScheduleType*</option>
         <option  *ngFor="let d of stype"  value={{d.scheduleTypeId}}>{{d.scheduleType_Name}}</option>
    </select>
    <!-- <small *ngIf="myform.get('ScheduleTypeId').pristine&& myform.get('ScheduleTypeId').touched" class="text-danger">
        Schedule Type is requied
                     </small> -->
    </div>
    
    
<div class="col-md-4 mb-4" >

    <select class="form-control" formControlName="SpecialityID" #id  id="ddlSpecialityId"    name="specialityID"  (change)="getDoctors(id.value)"  >
        <option [selected]="true"  hidden   >Speciality*</option>
      <option  *ngFor="let d of speciality"  value={{d.specialityID}}>{{d.speciality}}</option>
    </select>
 <!-- <small *ngIf="myform.get('SpecialityID').pristine&& myform.get('SpecialityID').touched" class="text-danger">
        Speciality is required
                     </small> -->
</div>

<div class="col-md-4 mb-4">

    <select class="form-control" formControlName="DoctorId"   id="ddlDoctor"  name="DoctorId"  >
        <option [selected]="true"  hidden  >Doctor*</option>
     <option  *ngFor="let d of doctorList"  value={{d.providerId}}>{{d.firstName}}</option>
    </select>
     <small *ngIf="myform.get('DoctorId').touched&& myform.get('DoctorId').invalid" class="text-danger">
        Doctor is required
                     </small>
                     
</div>
    </div>
    <div class="form-row">
    
    <div  class="col-md-12 mb-4 buttons-right-row">
        <button type="submit"
    
        class="btn btn-primary waves-effect waves-light btn-space" id="btnSave"  >
            Update
    
        </button>&nbsp;
        <button type="submit"
    
        class="btn btn-danger waves-effect waves-light btn-space" id="btnSave" (click)="GoBack()"  >
            Go Back
    
        </button>
       
    
    </div>
    </div>
    </form>
    
    </div>
    