
<div class="card-body">
    <form [formGroup]="myform"   #reg="ngForm" (ngSubmit)="SaveUser(reg.value)" autocomplete="off">
      
        <div class="form-row">
        <div class="col-md-4">
          <!-- <label for="txtfname" class="form-label">First Name</label> -->
          <input id="txtfname" formControlName="First_Name" onpaste="return false"(keyup)="removestartSpace($event)" (keydown)="onKeyPress($event)" type="text" class="form-control text-capitalize" name="First_Name" placeholder="First Name*" >
         <small *ngIf="myform.get('First_Name').touched&&myform.get('First_Name').hasError('required')" class="text-danger">
          First Name is required
         </small>
        </div>
        <div class="col-md-4">
          <!-- <label for="txtlname" class="form-label">Last Name</label> -->
          <input id="txtlname" (keyup)="removestartSpace2($event)"  formControlName="Last_Name" onpaste="return false" type="text" (keydown)="onKeyPress($event)" class="form-control text-capitalize"  name="Last_Name" placeholder="Last Name*" >
          <small *ngIf="myform.get('Last_Name').touched&&myform.get('Last_Name').hasError('required')" class="text-danger">
            Last Name is required
                         </small>
        </div>
        <div class="col-md-4">
            <!-- <label for="Mobile" class="form-label">Mobile Number</label> -->
            <input  (keypress)="AcceptMobilenumberOnly($event)" type="text" maxlength="10"  formControlName="Mobile_Number" class="form-control" onpaste="return false" name="Mobile_Number" placeholder="Mobile Number*" id="Mobile"  >
          
         <small *ngIf="myform.get('Mobile_Number').touched&&myform.get('Mobile_Number').hasError('required')" class="text-danger">
            <li>   Mobile Number is required   </li>
                             </small>
                          
                          <small *ngIf="myform.get('Mobile_Number').dirty&&myform.get('Mobile_Number').hasError('minlength')" class="text-danger">
                            <li>Mobile Number must be 10 digits  </li> 
                                             </small>
                                            
                                         <!-- <small *ngIf="myform.get('Mobile_Number').touched&&myform.get('Mobile_Number').hasError('pattern')" class="text-danger">
                                         <li> Invalid  Mobile Number</li>
                                             </small>   -->
                                          
                                            </div>
        <div class="col-md-4">
           
            <!-- <label for="cmbRole"  class="form-label">Role</label> -->
            <select  formControlName="userrole" #role class="form-control" id="cmbRole"  name="UserRole" (change)="checkIsDoctorRole(role.value)" >
                <option  [selected]="true" hidden  >Role*</option>
               
                <option   *ngFor="let d of docs"  [value]="d.roleId">{{d.role}}</option>
               
               </select>
               <small *ngIf="myform.get('userrole').pristine&& myform.get('userrole').touched" class="text-danger">
                Role Name is required 
                             </small>
        </div>
        
        <div [hidden]=isspecialityhidden class="col-md-4">
            <!-- <label for="cmbOrganization"  class="form-label">Organization</label> -->
          <select  formControlName="Speciality" class="form-control"  id="cmbsepciality"  name="Speciality" >
              <option  [selected]="true" hidden  >Speciality*</option>
             
              <option   *ngFor="let item of speciality"   [value]="item.specialityID" >{{item.speciality}}</option>
             
             </select>
             

      </div>
      <div class="col-md-4 mb-3" [hidden]=isspecialityhidden>
        <div class="custom-control custom-checkbox" style="align-content: center;margin-top: 16px;" >
            <input  type="checkbox" class="custom-control-input"  formControlName="isReferDoctor" (click)="ischecked()"
                id="customCheck02" data-parsley-multiple="groups"
                data-parsley-mincheck="2" >
            <label class="custom-control-label" for="customCheck02">is Refer Doctor</label>
        </div>
    </div>
        <div class="col-md-4">
              <!-- <label for="cmbOrganization"  class="form-label">Organization</label> -->
            <select  formControlName="Organization_id" #facility class="form-control" (change)="GetFecility(facility.value)" id="cmbOrganization"  name="Organization_id" >
               <option  hidden [selected]="true" >Organization*</option>
               
                <option   *ngFor="let item of organization"   [value]="item.organizationId" >{{item.organization_Name}}</option>
               
               </select>
               <!-- <small *ngIf="myform.get('Organization_id').pristine&& myform.get('Organization_id').touched" class="text-danger">
                Organization is requied 
                             </small> -->

        </div>
       
        <div class="col-md-4"  [hidden]=isrefdoctor>
            <!-- <label for="txtusername" class="form-label">User name</label> -->
            <input maxlength="15" type="text" onpaste="return false"   formControlName="User_Name" (keyup)="CheckUsernameisExisted($event)" [disabled]="d" class="form-control"name="User_Name" id="txtusername"  placeholder="User Name*">
            <span  *ngIf="isusernamevalid" class="fa fa-check errspan"></span>
            <span  *ngIf="isusernameinvalid"  class="fa fa-exclamation-circle errspan2"></span>
            <span class="text-danger" *ngIf="isusernameinvalid"  >User Name is already existed</span>
            <!-- <span *ngIf="uservalid" class="text-danger" >User Name is Required </span> -->
            <small *ngIf="myform.get('User_Name').touched&&myform.get('User_Name').hasError('required')" class="text-danger">
              User Name is required
             </small>
             <small class="text-danger" *ngIf="myform.get('User_Name').hasError('pattern')"> Invalid Input Format</small>
    
          
          </div>
          <div class="col-md-4" [hidden]=isrefdoctor>
            <!-- <label for="txtpassword" class="form-label">Password</label> -->
            <input maxlength="10"  type="password" onpaste="return false"  formControlName="Password" class="form-control" id="txtpassword" name="Password" placeholder="Password*" >
            <small *ngIf="myform.get('Password').touched&&myform.get('Password').hasError('required')" class="text-danger">
              Password is required
             </small>
             <small class="text-danger" *ngIf="myform.get('Password').hasError('pattern')"> Invalid Input Format</small>
    
          </div>
         
        </div>
          <div style="margin-top: 5px;text-align: right;">
            <div   >
             
                <button class="btn btn-primary" type="submit"  >Save User</button>
                &nbsp;
                <button type="reset"  (click)="reset()"    id="reset" class="btn btn-danger waves-effect m-l-5">
                    Clear
                </button>
              </div>
            
          </div>


          
      </form>
    </div>

    