<div class="card-body">
    
    <form [formGroup]="_form" (ngSubmit)="SendOtp(_form.value)">
        
    <div class="row d-flex justify-content-center">
        
       
                
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <input type="text" enabled="false" maxlength="12"  formControlName="Number" class="form-control"  placeholder="Aadhaar Number*"/> &nbsp;
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div><!-- /input-group -->
            <small *ngIf="_form.get('Number').touched&&_form.get('Number').hasError('required')" class="text-danger">
                Aadhaar Number is required
               </small>
               <small *ngIf="_form.get('Number').touched&&_form.get('Number').hasError('minlength')" class="text-danger">
                Aadhaar Number Must be 12 digits
               </small>
        </div><!-- /.col-lg-4 -->
       
       
    </div><!-- /.row -->

</form>
</div>