<div class="card-body">
    <div   class="row d-flex justify-content-center " >
    
        <table id="tblfacility"  class="styled-table" style="margin-top: 0px;" >
            <thead style=" position: sticky;">
                <tr>
                    <th style="width: 50px;padding-left: 10px;" >S.No</th>
                    <th class="dt" > Facility Mapping Id</th>
                    <th class="time">Facility</th>
                    <th class="name">Created By</th>
                    <th class="action">Action</th>
                </tr>
            </thead>
           <tbody > 
           
            <tr  >
                <td style="width:50px; padding-left: 10px;" ></td>
                <td class="dt"></td>
                <td class="time"></td>
                <td class="name"></td>
                <td class="action">
                   
                <!-- <i  style="font-size:10px;" class="material-icons"  style="color: black;size: 3px;" (click)="reschedule(i, rowlist)"   ngbTooltip="Re Schedule"  > calendar_month</i>
                        
<i  style="font-size:10px;" class="material-icons" style="color: black;size: 3px;"   ngbTooltip="Transfer" (click)="Transfer(i,rowlist)"  >move_up</i>             
               <a> <i  style="font-size:10px;" class="material-icons" style="color: black;height: 1px;" ngbTooltip="Edit Appointment"  (click)="EditAppointment(i, rowlist)"> edit_note</i></a> 
               <i style="font-size:10px;" class="material-icons"   style="color: rgb(237, 69, 69);height: 10px;" ngbTooltip="Cancel Appointment" (click)="CancelAppointment(i, rowlist)" > cancel</i>
                -->

             
               <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">add</mat-icon> -->
                
                </td>
               
              

                
                <!-- <td>{{rowlist.appointment_Type}}</td>  -->
                
            </tr>
            <tr >
                <td>No Records Found</td>

            </tr>
           </tbody>
           <tfoot>
            <!-- <tr><td> <pagination-controls (pageChange)="p = $event"></pagination-controls></td></tr> -->
           </tfoot>
        </table>
        </div>
</div>