
<div *ngIf="islload">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" >
          <span class="sr-only" id="loading"></span>
        </div>
      </div>
    </div>
     <div class="card-body">
       
       <form [formGroup]="searchform" #search="ngForm" >
        
      
           
         <span style="font-weight: bold;">Total Users: {{userCount}}</span>
            <div   class="row d-flex justify-content-center" >
    
                <table id="tblfacility"  class="styled-table">
                  <thead style=" position: sticky;">
                        <tr>
                            <th class="custum-col-sno"  >S.No</th>
                            <th class="custum-col" >First Name</th>
                            <th class="custum-col-100">Last Name</th>
                            <th class="custum-col-100" >User Name</th>
                            <th class="custum-col-100" >Role</th>
                           
                            <th class="custum-col">Facility</th>
                            <th class="custum-col">Created By</th>
                            <th class="custum-col-100" >Created Date</th>
                            </tr>
                    </thead>
                   <tbody class="as">
                   
                     <tr *ngFor="let i=index  let rowlist of userlist | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="custum-col-sno" >{{i+1}}</td>
                        <td  class="custum-col"style="text-transform: capitalize;">{{rowlist.first_Name}}</td>
                        <td class="custum-col-100" style="text-transform: capitalize;">{{rowlist.last_Name}}</td>
                        <td class="custum-col-100" style="text-transform: capitalize;">{{rowlist.user_Name}} {{rowlist.gender}}</td> 
                        <td class="custum-col-100" style="text-transform: capitalize;">{{rowlist.role_Name}}</td>
                        <td class="custum-col" style="text-transform: capitalize;">{{rowlist.facilitY_NAME}}</td> 
                      
                        <td class="custum-col" style="text-transform: capitalize;">{{rowlist.createdby}}</td> 
                        <td class="custum-col-100" >{{rowlist.createD_DATE}}</td>
                       
                        
                    </tr> 
                    
                   </tbody>
                   <tfoot>
                   <tr><td> <pagination-controls (pageChange)="p = $event"></pagination-controls></td></tr> 
                   </tfoot>
                </table>
                </div>
    
    
        </form>
    </div>
    