$primary-color: #0050BB;
$secondary-color: #a9bbf7;

$primary-body-color: #525252;
$secondary-body-color: #525252;

$danger-color: #ef4d56;

$link-color: #0075a9;

$color-white: #fff;
$color-black: #000;