<div class="card-body">
   
    <div class="general-label">
        <form  autocomplete="off" >
          <div align="center">
            <table class="header" width="100%">
                <tr>
                    <td>Ayushman Bharat Digital Mission</td>
                </tr>
            </table>
          </div>
          <div class="container-info">
            The Ayushman Bharat Digital Mission (ABDM) aims to develop the backbone necessary to support the integrated digital health infrastructure of the country. It will bridge the existing gap amongst different stakeholders of Healthcare ecosystem through digital highways.
          </div>
           <!-- <div>
            <ul>
                <li><a>Create Abha Number</a></li>
                <li><a>Check Abha Status</a></li>
                <li><a> Abha Status</a></li>
                <li><a>Save Abha Status</a></li>
                <li><a>View Registered Abha Details</a></li>
               
            </ul>
           </div> -->
           <div class="form-row">
            <div class="col-md-4 mb-2">
              <button type="button" routerLink="/FrontDesk/ABDM/Create-ABHA" class="btn btn-custom-Primary btn-sm">Create Health Account</button>
              </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-2">
                  <button type="button" routerLink="/FrontDesk/ABDM/ABHA-Status" class="btn btn-custom-Primary btn-sm">Check Health Account Status</button>
            
                  </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-2">
                      <button type="button" routerLink="/FrontDesk/ABDM/Find-Abha-number" class="btn btn-custom-Primary btn-sm">Know Health Account Number</button>
                
                      </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-4 mb-2">
                          <button type="button" class="btn btn-custom-disabled btn-sm" disabled>View Registered Abha Details</button>
            
                          </div>
                          </div>
                          <div class="form-row">
                            <div class="col-md-4 mb-2">
                              <button type="button" class="btn btn-custom-disabled btn-sm" disabled>Save Abha Details</button>
            
                              </div>
                              </div>

           
                <!-- <span><a routerLink="/AbhaHome/Status">Health Account Status</a></span><br>
                <span><a routerLink="/AbhaHome/Know-HealthId">Know  Health Account Number by Aadhaar/Mobile</a></span><br>
              
                <span><a routerLink="/Register">Create Ayushman Bharath Health Account</a></span><br>
                <span><a routerLink="/Abha-Details-Request">Get/Save Health Account details</a></span><br>
                <span><a routerLink="/AbhaList">Show List of Health Accounts</a></span><br>
                <span><a >Delete Health Accounts</a></span> -->
            
            
            
          
            
                      
                                                    <!-- <div class="sidebyside" >
                                                      <table >
                                                        <tr><td style="text-align: center;"> <span style="text-align: center;font-size: 18px;color: rgb(43, 43, 166);">ABDM Ecosystem</span></td></tr>
                                                        <tr><td > <img width="400px" height="300px" src="../../../../../assets/img/lo.png" ></td></tr>
                                                      </table>
                                                        
                                                       
                                                    </div> -->
        </form>
    </div>
    </div>