*{
    margin: 0px;
  }
  .header{
    font-size: 40px;
    border: 1px solid rgb(13, 136, 66);
    text-align: center;
    color: rgb(26 221 241);
    background-color:rgb(213 197 196 / 18%);
    text-shadow:3px 3px rgb(87, 144, 249) ;
  }
  .container-info{
      margin-top: 30px;
      padding: 10px;
  }
  ul li{
    text-decoration: none;
    list-style: none  ;
  }
  a {
    color:rgb(69, 69, 241);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .leftside
  {
    float: left;
    width: 60%;
    margin-top: 40px;
    font-size: 17px;
  }
  /* }
  .sidebyside
  {
    float: left;
    width: 40%;
    margin-top: 10px;
    font-size: 17px;
  } */

  button{
    width: 240px;
  }